body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 20px 0 40px 0;
}

.logo{
    width: 10%;
    margin-left: 5%;
}

nav{
    color: #000000;
    top: 10%;
    right: 4%;
    position: absolute;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav li{
    display: inline;
    margin-right: 40px;
}

.divHeader{
    position: relative;
}

.banner{
  width: 100%;
  height: 550px;
image-rendering: auto;

}
.titulos{
    text-align: center;
}
/*estilização do sobre nós*/
.sobre_nos{
    width: 60%;
    margin-left: 20%;
    text-align: justify;
    font-size: 20px;
}
.img_sobre_nos{
    width: 15%;
    float: left;
    margin-right: 20px;
}
.titulo_sobre_nos{
    clear: left;
    text-align: center;
}

.mapa{
text-align: center;

}

.img_nossos_produtos{
    width: 11%;
    float: right;
    margin-right: 590px;
    /* horizontal | vertical | blur (desfoque) | cor */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.856);
   border-radius: 10px;
   opacity: 1;
   transition: 400ms;
}

.img_nossos_produtos:hover{
    opacity: 0.5;
    cursor: pointer;
}
.letras{
    font-family: Arial, Helvetica, sans-serif;
      text-align: center;
}

.tayday{
background: linear-gradient(#ffffff, #f3ebe3);
}

.video{
     display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente (opcional) */
    width: 100%; 
 
}
footer{
    padding: 210px 10px 10px 0px;
    background: url("../img/FUNDOBANNER.webp");
    background-position: center;
    background-size: cover;
    background-color: rgba(24, 24, 24, 0.856);
    background-blend-mode: darken;
   
}

.footer_p{
   color: #ffffff;
   text-align: right;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}
.logo_footer{
    width: 15%;
    padding-left: 85%;

}